.DS_Store
.classpath
.project
.settings/
.local.*
target
build
!src/build
build-eclipse
build.sh
*.iml
*.dot
*.hprof
trash
private
junit*.properties
bin/hadoop-aws
bin/support
bin/setenv.sh
*flow-monitor.html
(related)
